.DS_Store
.idea
*.log
tmp/
Notes.org
organisatorisches
.DS_Store
.idea
*.log
tmp/
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
.mypy_cache
.ipynb_checkpoints
.pytest_cache
.python-version
resources/datasets
